<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Hatching</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <ion-card  color="medium" class="card">
    <ion-card-header>
      <iframe width="760" height="500" src="https://www.youtube.com/embed/AbEczqJoMDQ" title="YouTube video player" frameborder="0"
       allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </ion-card-header>

    <ion-card-content>
      <font size="4">
        Tinja, de 12 anos, e ginasta, está desesperada para agradar a mãe, uma mulher obcecada em apresentar a imagem de uma família perfeita. Uma noite, Tinja encontra um ovo estranho e leva para seu quarto, sem contar para ninguém da família.
        Mas estranhos acontecimentos fazem com que Tinja mude para algo animalesco. Porém quando o ovo choca, o que sai de dentro é inacreditável.
    </font> <br />
    <ion-button color="danger" [disabled]="true">16</ion-button>
    <ion-button [disabled]="true">Terror, Fantasia</ion-button>
    <ion-button [disabled]="true">Duração = 1h 31m</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
