<ion-header>
  <ion-toolbar>
    <ion-title>Não! Não Olhe!</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content color="dark">
    <ion-card  color="medium" class="card">
      <ion-card-header>
        <iframe width="760" height="500" src="https://www.youtube.com/embed/AGdbfPDpv7Y" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </ion-card-header>

      <ion-card-content>
        <font size="4">
          Em Não! Não Olhe!, novo filme de terror do diretor Jordan Peele (Corra e Nós), uma cidade do interior da Califórnia começa a ter eventos bizarros e aparentemente extraterrestres. Os irmãos interpretados por Keke Palmer (‘True Jackson’)
          e Daniel Kaluuya (‘Corra’) possuem um rancho de cavalos e são vizinhos de um parque de diversões de uma série de televisão do personagem interpretado por Steven Yeun, inspirada no velho oeste. Os dois então são testemunhas de eventos bizarros e UFOs.
      </font> <br />
      <ion-button color="danger" [disabled]="true">16</ion-button>
      <ion-button [disabled]="true">Terror, Mistério, Ficção científica, Thriller      </ion-button>
      <ion-button [disabled]="true">Duração = 2h 11m</ion-button>
      </ion-card-content>
    </ion-card>
 </ion-content>



